+++
title = "DevStream 博客"
linkTitle = "DevStream 博客"

+++

{{< blocks/cover title="欢迎来到 DevStream" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/blog" >}}">
		浏览愉快 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/devstream-io/devstream">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">DevStream: the open-source DevOps toolchain manager (DTM).</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
We wanted to make it easy to set up personalized and flexible toolchains.

So we built DevStream, an open-source DevOps toolchain manager.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-terminal" title="Flexible" %}}
Define your tools as code.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-bolt" title="Fast" %}}
Five Minutes. One Command.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contribute" %}}
[Pull Requests](https://github.com/devstream-io/devstream/pulls) are welcome!
{{% /blocks/feature %}}
